/*!
* @author Abactus team
*/

/*================== GENERAL ==================*/
@font-face {
  font-family: 'IM Fell Great Primer SC';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL Great Primer SC'), local('IM_FELL_Great_Primer_SC'), url(../fonts/A313vRj97hMMGFjt6rgSJgLbk6iVZLS-EhwS4yjOduQ.woff) format('woff');
}

body {
    background-image: url(../img/sprinkles.png);
    background-repeat: repeat;
	min-width: 320px;
}

input, textara, select {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input[type="submit"] {
	background: #9c2b2b;
	color: #eee;
	padding: 8px 24px;
	height: 50px;
	margin-top: 10px;
}

.txtwhite {
    color: #fff;
}

.txtnodec {
	text-decoration: none;
}

legend, h2 {
	font-size: 3rem;
	font-weight: normal;
}

button, li.button, a.btn-like {
	height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
	background: #9c2b2b;
	color: #eee;
	padding: 4px 24px;
	height: 30px;
	margin-top: 10px;
}

/*================== HEADER ==================*/
.main_header {
    height: 125px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
}

#login_form {
	position: absolute;
	right: 0;
}

#login_form input[type="submit"] {
    height: 34px;
    padding: 6px 12px;
    margin-top: 0;
}

#login_form_trigger {
	display: block;
	margin-top: 40px;
}

.main_title {
    line-height: 120px;
    font-family: 'IM Fell Great Primer SC', serif;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin: 0;
    padding: 0;
    margin-left: 0px;
    font-size: 48px;
    text-shadow: 0 1px 10px #000;
    color: #ddd;    

	margin-left: 20px;
    height: 120px;
    text-align: center;
    background-image: url(../img/logot3.png);
    background-repeat:no-repeat;
    background-position:center; 
}

.main_title a {
	text-decoration: none;
	color: #ddd;
}

/*================== NAV ==================*/
.main_nav {
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    height: 52px;
    margin: 0;
    padding: 0;
}

.main_nav li {
    padding: 0;
    height: 50px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.main_nav li a {
    display: block;
    line-height: 50px;
    padding: 0 20px;
    margin: 0 auto;
    color: black;
    text-decoration: none;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    width: 100%;
    border-bottom: 0px solid #666;   

}

.main_nav li a:hover, .main_nav li a.active {
    border-bottom: 4px solid #666;   
}

/*================== MAIN_CONTAINER ==================*/

.main_container {
}

/* Alert handling*/
.alert-info {
	margin: 15px 0;
	padding: 25px 15px;
	background: rgba(0, 200, 0, 0.2);
	color: #080;
	border-left: 3px solid #080;
}

.alert-error {
	margin: 15px 0;
	padding: 25px 15px;
	background: rgba(200, 0, 0, 0.2);
	color: #800;
	border-left: 3px solid #800;
}

/* Plateau de jeu */
#plateau {
	display: block;
	margin: auto;
}

/* Chat */
#chatboxes_container {
	display: block;
	position: fixed;
	bottom: 0;
	right: 20px;
	transition: all 0.5s ease-in 0ms;
	-moz-transition: all 0.5s ease-out 0ms;
	-webkit-transition: all 0.5s ease-out 0ms;
	-o-transition: all 0.5s ease-out 0ms;
}

#chatboxes_container.shift {
	right: 235px;
}

#chat_container {
	position: fixed;
	height: 100%;
	top: 0;
	right: -200px;
	background:#f9f6eb;
	width: 215px;
	transition: all 0.5s ease-in 0ms;
	-moz-transition: all 0.5s ease-out 0ms;
	-webkit-transition: all 0.5s ease-out 0ms;
	-o-transition: all 0.5s ease-out 0ms;
	overflow: auto;
	overflow-x: hidden;
}

#chat_container.opened{
	position: fixed;
	height: 100%;
	top: 0;
	right: 0;
	background:#f9f6eb;
	width: 215px;
}

#chat_container .chat_trigger {
	position: fixed;
	display: inline-block;
    *display: inline;
    zoom: 1;	
    vertical-align: top;
	width:15px;
	background: #e5e3da;
	border-left:1px solid #bebaba;
	border-right:1px solid #bebaba;
	height: 100%;
	line-height: 100%;
	cursor: pointer;
	display:-ms-flexbox;
	color: #888;
	text-shadow: 0 0 1px #777;
	font-size: 9px;
}

#chat_container .chat_trigger .txt {
	position: absolute;
	top: 50%;
}

#chat_container .chat_list {
	display: inline-block;
    *display: inline;
    zoom: 1;	
    vertical-align: top;
    width: 100%;
    margin-left: 15px;
}

#chat_container .chat_list .item {
	padding: 2px 0;
}

#chat_container .chat_list .item:hover {
	cursor: pointer;
	background: #edeae1;
}

#chat_container .chat_list .avatar {
	display: inline-block;
    *display: inline;
    zoom: 1;
	border-radius: 25px;
	border: 3px solid #fff;
	width: 50px;
	margin-left: 10px;
}

#chat_container .chat_list .pseudo {
	display: inline-block;
    *display: inline;
    zoom: 1;
	margin-left: 10px;
	text-transform: capitalize;
	color: #111;
}

#chat_container .chat_break .fa-refresh {
	color: #559;
	transition: transform 0.5s ease-out 0ms;
	-moz-transition: -moz-transform 0.5s ease-out 0ms;
	-webkit-transition: -webkit-transform 0.5s ease-out 0ms;
	-o-transition: -o-transform 0.5s ease-out 0ms;
}

#chat_container .chat_break .fa-volume-up {
	color: #559;
}

#chat_container .chat_break .fa-volume-off {
	color: #000;
}

#chat_container .chat_break  {
	display: block;
	background: #e5e3da;
	border-top:1px solid #bebaba;
	border-bottom:1px solid #bebaba;
	height: 20px;
	line-height: 20px;
	width: 100%;
}

#chat_container .chat_break .fa-refresh:active {
	transform: rotate(-180deg);  
	-moz-transform: rotate(-180deg);  
	-webkit-transform: rotate(-180deg);  
	-o-transform: rotate(-180deg);
	transition: none;
}

.chat_box {
    display: inline-block;
    *display: inline;
    zoom: 1;	
    vertical-align: bottom;
	width: 230px;
	margin-right: 10px;
	bottom: 0;
}

.chat_box.notify .chat_controls {
	background: #a5a196;
}

.chat_box.notify .chat_minimize  {
	color: #eee;
}

.chat_controls {
	height: 31px;
	background: #f9f6eb;
	color: #111;
	border-radius: 4px 4px 0 0;
	border-left: 1px solid #CFCBCB;
	border-top: 1px solid #CFCBCB;
	border-right: 1px solid #CFCBCB;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-transform:capitalize;
}

.chat_minimize {
	cursor: pointer;
	display: block;
	width: 100%;
	line-height: 25px;
	text-decoration: none;
	color: #111;
	padding: 3px 10px;
}

.chat_controls:hover .chat_close {
	display: block;
	float: right;
	margin-right: 5px;
	text-decoration: none;
	color: #cfcbcb;
}

.chat_close {
	display: none;
}

.chat_box.minimized .chat_messages, .chat_box.minimized .chat_write {
	display: none;
}

.chat_messages, .chat_write {
	padding: 2px 5px;
	background: #eee;
	border-left: 1px solid #CFCBCB;
	border-right: 1px solid #CFCBCB;
}

.chat_messages {
	max-height: 200px;
	overflow: auto;
}
.chat_write {
	padding: 10px 0;
}

.chat_input {
	display: block;
	width: 95%;
	margin: auto;
}

.chat_item.server_notification {
	display: block;
	width: 90%;
	margin: 2px auto;
	text-align: center;
	font-size: 80%;
	color: #666;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 3px 0;
}

/* Room form */
.form_create_room input, .form_create_room select, .form_create_room button {
	width: 90%;
	display: block;
	max-width: 300px;
	margin-top:5px;
	transition: opacity 0.6s ease 0ms;
	-o-transition: opacity 0.6s ease 0ms;
	-moz-transition: opacity 0.6s ease 0ms;
	-webkit-transition: opacity 0.6s ease 0ms;
	-ms-transition: opacity 0.6s ease 0ms;
}
.form_create_room input[type=submit] {
	background: #9c2b2b;
	color: #eee;
	padding: 8px 24px;
	height: 50px;
	margin-top: 10px;
}
.form_create_room-cancel {
	background: #888;
	color: #eee;
	padding: 4px 24px;
	height: 35px;
	margin-top: 10px;
}

/* Room list */
.room_item {
	background: #d3d3af;
	width: 80%;
	display: block;
	border: 2px solid #b1b18f;
	padding: 10px 5px;
	margin-bottom: 10px;
	border-radius: 8px;
	max-width: 300px;
}

.room_item.init_new_room {
	cursor: pointer;
	font-size: 120%;
}

.room_item.init_new_room:hover {
	background: #cccc9a;
}

.room_item-more {
	display: none;
}

.refresh_rooms i.fa, .refresh_games i.fa {
	transition: transform 0.5s ease-out 0ms;
	-moz-transition: -moz-transform 0.5s ease-out 0ms;
	-webkit-transition: -webkit-transform 0.5s ease-out 0ms;
	-o-transition: -o-transform 0.5s ease-out 0ms;
}

.refresh_rooms:active i.fa, .refresh_games:active i.fa {
	transform: rotate(-180deg);  
	-moz-transform: rotate(-180deg);  
	-webkit-transform: rotate(-180deg);  
	-o-transform: rotate(-180deg);
	transition: none;
}

.room_pwd {
    height: 30px;
    margin-top: 10px;
    width: 100px;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.room_pwd.room_pwd-error {
    background: #ffeeee;
	border-color: #9c2b2b;
}

/* Profile pictures */
.avatar_small {
    display: inline-block;
    *display: inline;
    zoom: 1;	height: 50px;
	width: 50px;
	border-radius: 25px;
	border: 3px solid #fff;
	box-shadow: 0 0 2px #fff;
}

/* Game composition */
#game_composition {
	transition: opacity 0.6s ease 0ms;
	-o-transition: opacity 0.6s ease 0ms;
	-moz-transition: opacity 0.6s ease 0ms;
	-webkit-transition: opacity 0.6s ease 0ms;
	-ms-transition: opacity 0.6s ease 0ms;
}

.game_composition {
	display: block;
	width: 95%;
	margin: auto;
}

.game_composition.game_composition2 .team {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 50%;
	text-align: center;
	vertical-align: top;
}

.game_composition.game_composition3 .team {
	display: inline-block;
    *display: inline;
    zoom: 1;
	width: 33%;
	text-align: center;
	vertical-align: top;
}

.game_composition.game_composition2 .team.team-vs, .game_composition.game_composition3 .team.team-vs {
	border-right: 1px solid black;
}

.game_composition.game_composition2 .team.team-vs:after, .game_composition.game_composition3 .team.team-vs:after {
	content: ""; /*content: "vs";*/
	float: right;
	margin-right: -8px;
	vertical-align: middle;		
	background-image: url(../img/sprinkles.png);
}

.game_composition .slot .avatar {
	display: block;
	width: 90%;
	border-radius: 500px;
	border: 3px solid #fff;

	max-width: 150px;
	margin: auto;
	margin-top: 5px;
}

.game_composition .slot .avatar.avatar-small {
	max-width: 50px;
}

.game_composition .slot .avatar.avatar-admin {
	border: 3px solid #333;
}

.game_composition .slot .pseudo {
	display: block;
	text-transform: capitalize;
	margin-top: 5px;
}

.game_composition .slot .pseudo a {
	color: #000;
	text-decoration: none;
}

/* Boxinfo */
#boxinfo {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	transition: opacity 0.6s ease 0ms;
	-o-transition: opacity 0.6s ease 0ms;
	-moz-transition: opacity 0.6s ease 0ms;
	-webkit-transition: opacity 0.6s ease 0ms;
	-ms-transition: opacity 0.6s ease 0ms;
	z-index: 201;
}
#boxinfo .cadre {
	margin-top: -500px;
	background: #ddd;
	border: 3px solid #333;
	box-shadow: 0 1px 6px rgba(0,0,0,0.8);
	transition: margin-top 1s ease-out 0ms;
	-o-transition: margin-top 1s ease-out 0ms;
	-moz-transition: margin-top 1s ease-out 0ms;
	-webkit-transition: margin-top 1s ease-out 0ms;
	-ms-transition: margin-top 1s ease-out 0ms;
	border-radius: 3px;
	padding: 50px 10px;
	width: 50%;
}
#boxinfo .cadre a {
	color: #000;
}
.pagecover {
	display: none;
	opacity: 0;
	z-index: 200;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	transition: opacity 0.6s ease 0ms;
	-o-transition: opacity 0.6s ease 0ms;
	-moz-transition: opacity 0.6s ease 0ms;
	-webkit-transition: opacity 0.6s ease 0ms;
	-ms-transition: opacity 0.6s ease 0ms;
}

/* Table results */
.table_results {
	margin-top: 20px;
}
.table_results th {
	background: #ccc;
	border: 1px solid #fff;
}
.table_results td {
	background: #ddd;
	border: 1px solid #fff;
}
.table_results div {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
	padding: 0 5px;
}
.table_results-winner {
	color: #383;
	font-weight: bold;
}

/* Profil */
.profile_header .avatar{
	display: block;
	border-radius: 500px;
	border: 3px solid #fff;
	width: 100%;
	max-height: 200px;
	max-width: 200px;
}

/* Table stats */
.table_stats th {
	background: #ccc;
	border: 1px solid #fff;
}
.table_stats td {
	background: #ddd;
	border: 1px solid #fff;
}
.table_stats div {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
	padding: 0 5px;
}

/* Game */
#gameControls button {
	width: 95%;
	margin: auto;
	height: 34px;
    padding: 6px 12px;
    margin-top: 5px;
}

/* Large forms */
.form_large {
	width: 60%;
	margin: 0;
	margin: auto;
	padding: 0;
}
.form_large legend {
	margin-bottom: 15px;
}
.form_large .form_input {
	margin-top: 10px;
}
.form_large .form_input [disabled] {
	background: #eee;
	opacity: 0.8;
}
.form_large .form_controls {
	margin-top: 15px;
	margin-left: 23%;
}
.form_large .form_input label, .form_large .form_input .spoof_label {
	display: inline-block;
    *display: inline;
    zoom: 1;
	width: 18%;
	text-align: right;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.form_large .form_input input, .form_large .form_input .spoof_input {
	display: inline-block;
    *display: inline;
    zoom: 1;
	width: 75%;
	margin-left: 5%;
}
.form_large .form_controls input[type=submit] {
	width: auto;
	margin: 0;
	margin-left: 5px;
}

/* Ranks */
.rank_box {
	background: #d3d3af;
	width: 80%;
	display: block;
	border: 2px solid #b1b18f;
	padding: 10px 5px;
	margin-bottom: 10px;
	border-radius: 8px;
	max-width: 300px;
}

.rank_box nav ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.rank_box nav ul li {
	background-color: #888;
	display: inline-block;
    *display: inline;
    zoom: 1;	
	width: auto;
	cursor: pointer;
	margin-top: 0;	
	width: 30%;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
}

.rank_box nav ul li.rank_box-active {
	background-color: #9c2b2b;
}

.rank_box .rank_box-content, .rank_box .rank_box-content th, .rank_box .rank_box-content td {
	border: none;
} 

.rank_box .rank_box-content {
	margin: 5px;
}

/* Help Box */
.helpBox {
	background: #d3d3af;
	display: block;
	border: 2px solid #b1b18f;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 8px;
}
.helpBox #closeHelpBox {
	position: relative;
	top: -5px;
	left: 67%;
}
.helpBox #nextHelpBox {
	position: relative;
	top: -5px;
	left: 65%;
}
.helpBox #previousHelpBox {
	position: relative;
	top: -5px;
	left: 0px;
}

/* Friends */
.myfriends {
	margin-top: 15px;
}

.myfriends li {
	display: block;
	margin-top: 5px;
}

.myfriends .avatar {
	display: inline-block;
	*display: inline;
    zoom: 1;
	border-radius: 500px;
	border: 3px solid #fff;
	width: 150px;
	margin-right: 50px;
}

.myfriends .infos {
	display: inline-block;
	*display: inline;
    zoom: 1;
}

.myfriends .infos a {
	text-decoration: none;
}

.myfriends .infos a:not(.btn-like) {
	color: black;
	text-decoration: none;
	margin-bottom: 3px;
}

/*================== RESPONSIVE ==================*/
@media (max-width: 768px) {
	.main_header {
		background-image: url(../img/banner_responsive.jpg);
		height: auto;
		max-height: 187px; /* height of the background-image */
		background-size: auto;
		background-position : top right;
	}
	#login_form {
		margin-top: 5px;
		padding-top: 0;
	}
	#login_form input {
		display: block;
		width: 100%;
		margin-bottom: 3px;
	}
	.login_form-links {
		display: none;
	}
	
	#boxinfo .cadre {
		width: 80%;
		padding: 20px 10px;
	}
	/* #chat_container,
	#chatboxes_container {
		display: none;
	}
	*/
	
	.chat_box {
    display: none;
    }
    .chat_box#chatbox_all {
    display: inline-block;
    }
    
	
	.grid-game-resp div {
		float:none;
		display: block;
		width: 100%;
	}
	.form_large {
		width: 90%;
	}
	#helpBox {
		display: none;
	}
}

@media (max-width: 480px) {
	.main_title {
		font-size: 28px;
		margin-left: 15px;
		background-size: 70%;
	}
	.form_create_room input, .form_create_room select, .form_create_room button {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 480px;
	}
	.room_item, .rank_box {
		width: 100%;
		margin: auto;
		max-width: 480px;
	}
	.form_large .form_input * {
		display: block !important;
		margin: 0 !important;
		width: 100% !important;
		text-align: left !important;
	}
	.form_large .form_input button {
		text-align: center !important;
	}
	.form_large .form_controls {
		margin: 0 !important;
		margin-top: 20px !important;
	}
	.form_large .form_controls * {
		display: block !important;
		margin: 0 !important;
		margin-top: 5px !important;
		width: 100% !important;
		text-align: center !important;
	}
	.rank_box .rank_box-content th, .rank_box .rank_box-content td {
		display: table-cell !important;
	}
	.profile_header .infos {
		text-align: center;
	}
	.myfriends {
		text-align: center;
	}
	.myfriends .avatar {
		margin: 0;
	}
	.myfriends li {
		margin-top: 10px;
	}
}

@media (max-width: 380px) {
	#login_form {
		margin-top: 5px;
		padding-top: 0;
	}
	#login_form input {
		display: block;
		width: 150px;
		margin-bottom: 3px;
	}
	.main_nav li a {
		padding: 0 15px;
	}
}

